<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<context:component-scan base-package="com.frame.**.action" />
	<mvc:annotation-driven />

	<!-- 普通请求路径，跳转找普通JSP页面或产生JSON数据 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- Spring MVC拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/welcome/**" />
			<mvc:mapping path="/search/**" />
			<mvc:mapping path="/base/**" />
			<mvc:mapping path="/business/**" />
			<mvc:mapping path="/comm/**" />
			<bean class="com.frame.util.interceptor.RequestInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/base/**" />
			<mvc:mapping path="/business/**" />
			<mvc:mapping path="/comm/**" />
			<bean class="com.frame.util.interceptor.AuthenticationInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>